In [17]:
# Part 2 - SQL Queries (US Accidents)

# Import necessary libraries
import pandas as pd
import sqlite3

# Load previously cleaned dataset
df = pd.read_csv("/Users/thomassimmons/us_accidents_cleaned.csv")
print(f"Rows: {len(df)}, Columns: {df.shape[1]}")

Rows: 7728394, Columns: 49

In [18]:
# Store data in SQLite
# Connect to SQLite 
conn = sqlite3.connect("/Users/thomassimmons/us_accidents.db")
cursor = conn.cursor()

# Save DataFrame to SQLite table
df.to_sql('accidents', conn, if_exists='replace', index=False)
print("Data successfully loaded into db")

Data successfully loaded into db

In [ ]:
# Run SQL Queries

# 1 - total number of accidents
query1 = """
SELECT COUNT(*) AS total_accidents
FROM accidents;
"""

print(pd.read_sql_query(query1, conn))

   total_accidents
0          7728394

In [8]:
# 2 - accidents by severity
query2 = """
SELECT Severity, COUNT(*) AS count
FROM Accidents
GROUP BY Severity
ORDER BY Severity;
"""

print(pd.read_sql_query(query2, conn))

   Severity    count
0         1    67366
1         2  6156981
2         3  1299337
3         4   204710

In [11]:
# 3 - top 10 cities with the most accidents overall
query3 = """
SELECT City, COUNT(*) AS accident_count
FROM Accidents
GROUP BY CITY
ORDER BY accident_count DESC
LIMIT 10;
"""

print(pd.read_sql_query(query3, conn))

          City  accident_count
0        Miami          186917
1      Houston          169609
2  Los Angeles          156491
3    Charlotte          138652
4       Dallas          130939
5      Orlando          109733
6       Austin           97359
7      Raleigh           86079
8    Nashville           72930
9  Baton Rouge           71588

In [13]:
# 4 - average accident duration by severity

query4 = """
SELECT Severity, ROUND(AVG(Duration_Minutes), 2) AS Average_Duration
FROM Accidents
GROUP BY Severity
ORDER BY Severity;
"""

print(pd.read_sql_query(query4, conn))

   Severity  Average_Duration
0         1             53.78
1         2            485.44
2         3             74.81
3         4           1685.35

In [14]:
# 5 - Accidents per each weekday

query5 = """
SELECT Weekday, COUNT(*) AS count
FROM accidents
GROUP BY Weekday
ORDER BY count DESC;
"""

print(pd.read_sql_query(query5, conn))

     Weekday    count
0     Friday  1366499
1   Thursday  1316229
2  Wednesday  1312389
3    Tuesday  1290929
4     Monday  1210921
5   Saturday   668683
6     Sunday   562744

In [21]:
# 6 - Accidents by hour of day

query6 = """
SELECT 
    strftime('%H', Start_Time) AS Hour,
    COUNT(*) AS Accident_Count
FROM accidents
GROUP BY Hour
ORDER BY Hour;
"""

print(pd.read_sql_query(query6, conn))

   Hour  Accident_Count
0    00          112378
1    01           97071
2    02           93227
3    03           83863
4    04          159852
5    05          228182
6    06          405837
7    07          587472
8    08          577576
9    09          363034
10   10          342706
11   11          355040
12   12          355001
13   13          396445
14   14          448846
15   15          525855
16   16          581969
17   17          576015
18   18          432042
19   19          295121
20   20          225226
21   21          191452
22   22          167645
23   23          126539

In [22]:
# Top 10 states with accident count

query7 = """
SELECT
    State,
    COUNT(*) AS Accident_Count
FROM accidents
GROUP BY State
ORDER BY Accident_Count DESC
LIMIT 10;
"""

print(pd.read_sql_query(query7, conn))

  State  Accident_Count
0    CA         1741433
1    FL          880192
2    TX          582837
3    SC          382557
4    NY          347960
5    NC          338199
6    VA          303301
7    PA          296620
8    MN          192084
9    OR          179660

In [23]:
# Weather conditions and severity

query8 = """
SELECT 
    Weather_Condition,
    ROUND(AVG(Severity), 2) AS Avg_Severity,
    COUNT(*) AS Record_Count
FROM accidents
WHERE Weather_Condition IN ('Fog', 'Heavy Rain', 'Snow', 'Thunderstorm', 'Rain', 'Ice', 'Blowing Snow')
GROUP BY Weather_Condition
ORDER BY Avg_Severity DESC;
"""

print(pd.read_sql_query(query8, conn))

  Weather_Condition  Avg_Severity  Record_Count
0      Thunderstorm          2.41          4438
1      Blowing Snow          2.29           740
2              Rain          2.26         84331
3        Heavy Rain          2.26         32309
4              Snow          2.25         15537
5               Fog          2.15         99238

In [15]:
# Close database connection
conn.close()
print("Disconnected from database successfully")

Disconnected from database successfully